 <section  id='galeria' class="galeria">
   <h3 class="menu">Galeria</h3>
			 <div class="foto animated animate__fadeIn"><img src="../../../assets/img/kae-coffe.jpg" alt=""> </div>
			 <div class="foto animated animate__fadeIn fast"><img src="../../../assets/img/karl-coffe.jpg" alt=""></div>
			 <div class="foto animated animate__fadeIn slow"><img src="../../../assets/img/mike-coffe.jpg" alt=""></div>
			 <div class="foto animated animate__fadeIn"><img src="../../../assets/img/panda-bear.jpg" alt=""></div>
			 <div class="foto animated animate__fadeIn slow"><img src="../../../assets/img/tapioca.png" alt=""> </div>
       <div class="foto animated animate__fadeIn fast"><img src="../../../assets/img/morgan-cafe.jpg" alt=""></div>
			 <div class="foto animated animate__fadeIn"><img src="../../../assets/img/nathan-cafe.jpg" alt=""></div>
			 <div class="foto animated animate__fadeIn fast"><img src="../../../assets/img/enlaCocina.png" alt=""></div>
		 </section>
