<!-------------------------------------------------------Acerca de-->
  <section  id='acerca-de' class="acerca-de">
			 <div class="contenedor">
         <div class='foto animated animate__fadeIn '>
           <img  src="../../../assets/img/acercaDe.jpg" alt="La mejor cafeteria del mundo, cerca de ti. Con grandes sabores y precios muy accesibles">
         </div>
         <article class='animated animate__fadeIn fast'>
					 <h3>Acerca De</h3>
           <div >La mejor cafeteria del mundo, cerca de ti. Con grandes sabores y precios muy accesibles
             <blockquote cite='https://www.letras.com/javier-solis/1096635/'>
               <cite>
                 "Cuando la tarde languidece
                 Renacen las sombras
                 Y en su quietud los cafetales
                 Vuelven a sentir
                 Esa triste canción de amor
                 De la vieja molienda
                 Que en el letargo de la noche
                 Parece gemir."
               </cite>
             </blockquote>
           </div>
         </article>
       </div>
  </section>
