/* You can add global styles to this file, and also import other style files */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
h1, h2, h3{
    letter-spacing: 6px;
}
.contenedor{
	width: 90%;
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
}
/*************************************************Header*/
header{
	width: 100%;
	background-color: #281a0c;
	background-image: url('assets/img/bg2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center 0;
}
header .contenedor{
	position: relative;
	height: 450px;
}
header .menu {
	width: 100%;
    background-color: rgba(255, 255, 255, .3);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    z-index: 20;
}
header .contenedor .media{
    flex: 2 0 0;
    display: flex;
    align-items: center;
}

header .contenedor .media li{
    list-style: none;
    margin-left: 20px;
}
header .contenedor li i{
    font-size: 25px;
}

header .menu a{
	text-align: right;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 600;
	display: inline-block;
	margin: 40px 20px;
	text-decoration: none;
    letter-spacing: 6px;
	position: relative;
}
header .menu a:hover, .active{
	text-decoration: underline;
}
header .textos{
	width: 100%;
	color: white;
	position: absolute;
	top: 50%;
	margin-top: -52px;
}
header .textos .nombre{
	font-size: 50px;
	font-weight: 600;
}
header .textos .nombre span, header .textos h3{
	font-weight: 300;
}
header .textos h3{
	font-size: 25px;
	font-style: italic;
}

/*************************************************Acercade*/
.main{
	background-image: url('assets/img/text3.png');
	background-repeat: repeat;
}
#btnArriba{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 50;
	font-size: 18px;
	color: white;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,.5);
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}
#btnArriba:hover{
	background-color: #000;
}
.main .acerca-de .contenedor{
	overflow: visible;
	position: relative;

}
.main .acerca-de .foto{
	width: 80%;
	position: absolute;
	left: 0;
	top: -50px;
	z-index: 0;
	box-shadow: 0 0 15px rgba(0,0,0,.35);
}
.main .acerca-de .foto img{
	width: 100%;
	vertical-align: top;
}
.main .acerca-de article{
	background-color: #FFFFFF;
	padding: 40px;
	width: 50%;
	position: relative;
	top: 400px;
	z-index:1;
	box-shadow: 0 0 15px rgba(0,0,0,.35);
	float: right;
}
.main .acerca-de article h3{
	font-size: 50px;
	font-weight: 300;
	margin-bottom: 40px;
}
.main .acerca-de article{
	line-height: 28px;
	margin-bottom: 15px;
}
/*************************************************Menu*/
.main .carta{
	padding: 40px 5px;
	margin-bottom: 50px;
}
.main .carta .menu, .galeria .menu{
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;

}
.main .carta .contenedor-menu,
.main .carta .contenedor-menu2
{
	border: 1px solid black;
	background: transparent;
	padding: 10px;
	overflow: hidden;
}
.main .carta article{
	width: 50%;
	float: left;
	padding: 20px;
}
.main .carta .categoria{
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 40px;
	text-align: center;
}
.main .carta .platillo{
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 2px dotted black;
	overflow: hidden;
}
.main .carta .nombre, .main .carta .precio{
	font-size: 20px;
	margin-bottom: 15px;
	float: left;
}
.main .carta .precio{
	float: right;
}
.main .carta .descripcion{
	font-size: 16px;
	color: #676767;
	clear: both;

}
/*************************************************Galeria*/
.main .galeria{
    margin: 60px 0;
	overflow: hidden;
    background: none !important;
}
.main .galeria .foto{
	width: 25%;
	float: left;
}

.main .galeria .foto img{
	width: 100%;
	vertical-align: top;
	transition: all 30ms ease;
}
.main .galeria .foto img:hover{
	border: solid 2px rgba(8,127,120,.8);
}
/*************************************************Contacto*/
.main .contacto{
	background-color: white;
	padding: 60px 0;
	overflow: hidden;
}
.main .contacto .titulo{
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 40px;
}
.main .contacto .direccion{
	float: left;
	width: 50%;
	text-align: left;
}
.main .contacto .horarios{
	float: right;
	width: 50%;
	text-align: right;
	overflow: hidden;
}
.main .contacto .direccion .calle{
	margin-bottom: 15px;
}
.main .contacto .horarios h4{
	text-align: center;
	margin-bottom: 20px;
}
.main .contacto .horarios .entresemana,
.main .contacto .horarios .finsemana{
	width: 50%;
	float: left;
	text-align: center;
}
.main .mapa{
	display: flex;
	justify-content: center;
	width: 100%;
}
.main .mapa iframe{
	width: 100%;
	max-width: 600px;
}
/*************************************************Footer*/
footer{
	background-color: black;
	color: white;
    position:  fixed;
    width:  100%;
    bottom: -1%;
    z-index: 10;
    
}
footer .copyright{
	text-align: center;
	padding: 25px 0;
}

/*************************************************Media Queries*/

@media screen and (max-width: 800px){
	header .contenedor{
		position: static;
		height: auto;
	}
	header .textos{
		position: static;
		margin: 100px 0;
	}
	header .contenedor .menu{
		text-align: center;
	}
	header .contenedor .menu a{
		margin: 10px 20px;
	}
	header .textos .nombre{
		 font-size: 30px;
	}
	header .textos h3{
		font-size: 18px;
	}
	/*-----------------------acerca de --*/
	.main .acerca-de .foto{
		width: 100%;
		position: relative;
	}
	.main .acerca-de article{
		position: relative;
		width: 100%;
		top: -50px;
		transform: translate(0, 0);
	}

	/*-----------------------Menu --*/
	.main .carta{
		padding-top: 300px;
	}
	.main .carta article{
		width: 100%;
	}

	/*-----------------------Galeria --*/
	.main .galeria .foto{
		width: 50%;
	}
	.main .mapa{
		width: 80%;
		margin: auto;
	}
}
@media screen and (max-width: 400px){
	header .contenedor .menu{
		display: flex;
		width: 100%;
		justify-content: space-around;
		flex-flow: row wrap;
	}
	header .contenedor .menu a{
		font-size: 15px;
		margin: 10px 13px;
	}
	.main .acerca-de article h3{
		font-size: 40px;
		margin-bottom: 10px;
	}
	.main .carta article .nombre,
	.main .carta article .precio{
		font-size: 12px;
		line-height: 12px;
	}
	.main .contacto .direccion,
	.main .contacto .horarios{
		width: 100%;
		text-align: center;
	}
	.main .contacto .horarios{
		margin-top: 15px;
	}
}
/*-----------------------------animated--*/
.animated{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both ;
    animation-fill-mode: both;
}

.fast{
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
}
.slow{
    -webkit-animation-duration: 1500ms;
    animation-duration: 1500ms;
}
.slowM{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}


/* Fading entrances  */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0) scaleX(0.98);
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0) scaleX(0.995);
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0) scaleX(0.98);
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0) scaleX(0.995);
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}
@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
