<section  id='carta' class="carta">
			 <div class="contenedor">
				 <h3 class='menu' id='platillos'>Menu</h3>
				 <div class="contenedor-menu">
					 <div class="contenedor-menu2">
						 <article class="animated animate__fadeIn">
						 		<p class="categoria"> De Comer</p>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$25</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
								</div>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$20</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus. </div>
								</div>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$45</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
								</div>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$65</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
								</div>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$55</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
								</div>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$55</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
								</div>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$84</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
								</div>
						 </article>
						 <article class='animated bounceInRight'>
						 		<p class="categoria"> De Tomar</p>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$55</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
								</div>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$66</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
								</div>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$55</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
								</div>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$35</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
									 </div>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$15</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
									 </div>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$55</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
									 </div>
								<div class="platillo">
									 <div class="nombre">Curabitur vitae vehicula elit.</div>
									 <div class="precio">$45</div>
									 <div class="descripcion">Praesent eget eros nec mi iaculis tincidunt. Suspendisse et congue odio, id aliquet lectus.
									 </div>
									 </div>
						 </article>

					 </div>
				 </div>

			 </div>
		 </section>
